.main-view{
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-view-button{
    width: 100px;
    margin: 10px;
}

.exit-button{
    position: fixed;
    top: 25px;
    right: 25px;
}